

.open-sans-normal{
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* shared style */
.secondary-bg{
  background-color: #FFF8F3;

}
.text-primary{
  color: #FD6E0A;
}

.text-center{
  text-align: center;
}
.dark-2{
  color: #474747;
}

.btn-primary{
  background-color: #FD6E0A;
  font-weight: bold;
  font-size: 18px;
  color: white;
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
}

.section-title{
  font-size: 35px;
  font-weight: bold;
  color: #181818;
}

.section-description{
  font-size: 18px;
  color: #757575;
}

/* header */
.header{
  background-image:url('/images/developer.png'), url('/images/header_bg.png');
  background-position:top left , bottom right;
  background-repeat: no-repeat;

}

/* Nav Style */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 150px;
}
.nav-title{
  font-weight: 800;
  font-size: 45px;
}

nav ul{
  display: flex;
}

nav ul li{
  list-style: none;
  margin-right: 45px;
}

nav li a{
  font-size: 16px;
  text-decoration: none;
}

/* Banner syle */
.banner{
  display: flex;
  justify-content: space-between;
  margin: 0 30px 0 150px;
}

.banner-content{
  max-width: 500px;
}

.banner-greetings{
  font-size: 38px;
  font-weight: 400;
}

.banner-title{
  font-size: 64px;
  font-weight: bold;
}
/* Main */
main{
  max-width: 1140px;
  margin: 0 auto;
}

.main section{
  margin-top: 130px;
  margin-bottom: 130px;
}

/* About */
.about{
  border-radius: 10px;
  padding: 120px 140px;
  text-align: center;
  
}

.about-items{
  display: flex;
  justify-content: space-around;
}

.about-item{
  margin-top: 10px;
}
.item-description{
  font-size: 600;
  line-height: 0%;
  font-weight: bold;
}

/* skill style */
.skill-h3{
  margin-top: 80px;
  margin-bottom: 40px;
}

.skills-container{
  display: flex;
  gap: 24px;
}

.skill{
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 6px 50px 0 rgba(0, 0, 0, 0.3);
}
